
.cells, .cells1{
	float: left;
	position: relative;
	padding-left:55px;
	padding-top:55px;
	padding-right:55px;
	padding-bottom:55px;
}

.cells__table{
	left: 50px;
	margin: 2px;
	border: 1px solid #48aae7;	
}

.cells__delete_column_button, 
.cells__delete_row_button, 
.cells__add_row_button,
.cells__add_columm_button{
	position: absolute;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;	
	color: white;
	width: 50px;
	height: 50px; 
	cursor: pointer;
	border: none;
	outline:none;
}

.cells__delete_column_button, 
.cells__delete_row_button{
    font-size: 30px;
    font-weight: normal;	
}

.cells__add_row_button,
.cells__add_columm_button{
    background-color: #f3a500;
}

.cells__add_row_button{
	left: 60px;
	bottom: 5px;
}
.cells__add_columm_button{
	top: 60px;	
	right: 5px;
}

.cells__delete_column_button,
.cells__delete_row_button{
    background-color: #ca4c49;
	border: none;
}

.cells__delete_column_button{
	top: 5px;
	left: 55px;
	transition: visibility 100ms, left 200ms, background-color 200ms;
}
.cells__delete_row_button{
	top: 5px;
	left: 5px;
	transition: visibility 100ms, top 200ms, background-color 200ms;
}

.cells__td{
	background-color: #48aae7;
	width: 48px;
	height: 48px; 
}

.cells__delete_column_button,
.cells__delete_row_button{
	background-color: #b20000;
	visibility: hidden;
}

.cells__delete_column_button-enabled,
.cells__delete_row_button-enabled {
	visibility: visible;
}

.cells__delete_column_button:hover, 
.cells__delete_row_button:hover{
	background-color: #ca4c49;
}

.cells__add_row_button,
.cells__add_columm_button {
	transition: background-color 200ms cubic-bezier(0.28, 0.25, 0.68, 0.68);
    background-color: #f3a500;
	cursor: pointer;
}

.cells__add_row_button:hover,
.cells__add_columm_button:hover {
	background-color: #f6c052;
}


